# Ignore Google credentials
service_account.json

# Streamlit default cache
.streamlit/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment files
.env
.env.*

# VS Code settings (optional)
.vscode/
